<h1 style="text-align:center">
    Golf Player Time Management System
</h1>
<h2 style="text-align:center">
    Player History
</h2>

<div class="card">
    <div class="container">
      <div style="text-align:left; float: left;">
       <ul>
        <b><li>Course Name: </li></b>
        <li>Date Played: </li>
        </ul>
    </div>
    <div  style="text-align:left; float: right;">
        <ul>
            <b><li>Score: </li></b>
            <li>Playtime: </li>
        </ul>
    </div>
    <div style="clear: both;"></div>
    </div>
  </div>
