td 
    height: 50px
    vertical-align: bottom
    border: 1px solid black
    
table
    column-width: 30px
    border-radius:8px
    border:1px solid #cde2f5
    background:#fff
    border-collapse: collapse
    border-style: hidden
    box-shadow: 0 0 0 1px #000
    border-radius: 4px
    border: 1px solid black
    -moz-border-radius:15px


table, th, td 
    border: 1px solid black
    font-size: 25px
    padding: 5px


body 
    background-color: lightblue


