<h2 class="h2" style="text-align:center">Player History</h2>

<div *ngFor="let play of playerHistory">
  <div style="float: right">{{play.date_played}}<br />{{play.tot_time}}</div>
  <h4>{{play.course_name}}</h4>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th>Hole:</th>
        <th *ngFor="let hole of play['score'] | slice:0:9">{{hole.hole_number}}</th>
        <th *ngIf="play.front_nine > 0">Out</th>
        <th *ngFor="let hole of play['score'] | slice:9">{{hole.hole_number}}</th>
        <th *ngIf="play.back_nine > 0">In</th>
        <th>Total</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>Stroke:</th>
        <td *ngFor="let hole of play['score'] | slice:0:9">{{hole.stroke}}</td>
        <td *ngIf="play.front_nine > 0">{{play.front_nine}}</td>
        <td *ngFor="let hole of play['score'] | slice:9">{{hole.stroke}}</td>
        <td *ngIf="play.back_nine > 0">{{play.back_nine}}</td>
        <td>{{play.total_score}}</td>
      </tr><tr>
        <th>Par:</th>
        <td *ngFor="let hole of play['score'] | slice:0:9">{{hole.hole_par}}</td>
        <td *ngIf="play.front_nine > 0"></td>
        <td *ngFor="let hole of play['score'] | slice:9">{{hole.hole_par}}</td>
        <td *ngIf="play.back_nine > 0"></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
