<!DOCTYPE html>
<h2 style="text-align:center">
    Profile
</h2>
<div class="card">
    <div class="container">
        <div class="panel-heading">
            <h4 class="panel-title">User Info</h4>
        </div>
        <br>
        <div style="text-align:left; float: left;">
            <ul>
                <li>First Name: </li>
                <br>
                <li>Last Name: </li>
                <br>
                <li>Phone Number: </li>
                <br>
                <li>Email: </li>

            </ul>
        </div>



        <div style="clear: both;"></div>
        <div class="panel-heading">
            <h4 class="panel-title">Security</h4>
        </div>

        <div style="text-align:left; float: left;">
            <ul>
                <li>Password: </li>
            </ul>
        </div>
        <br>
        <br>
        <br>
        <div style="text-align:center; float: center;">
            <div class="col-sm-12 col-sm-offset-2">
                <button routerLink="/editprofile" class="btn btn-primary btn-lg btn-block">Edit</button>

            </div>
        </div>
    </div>
</div>