
<h2 style="text-align:center" id="listTitle">
   Course List
</h2>

<table align="center" class="courseInfo">
    <tr>
        <th>Course Name</th>
        <th>Course Address</th>
        <th>Phone Number</th>
    </tr>
    <tr>
      <td id="courseName"></td>
      <td id="address"></td>
      <td id="phone"></td>
    </tr>
</table>

<div class="container">
    <h4 style="text-align:center" id="addText">
        Add or Edit Course
    </h4>
    <div class="container">
        <div class="container">
            <input type="text" id="addCourseName" name="addCourseName" placeholder="Course name">
        </div>
        <div>
            <input type="text" id="addStreet" name="addStreet" placeholder="Street address">
            <input type="text" id="addCityState" name="addCityState" placeholder="City, State">
            <input type="text" id="addZip" name="addZip" placeholder="Zip code">
        </div>
        <div>
            <input type="text" id="addPhone" name="addPhone" placeholder="Phone Number">
        </div>
        <div>
            <button type="submit" class="addButton">Add Course</button>
        </div>
        <div>
            <select id="editCourse" name="editCourse">
                <option value="course">Please select a course to edit...</option>
            </select>
            <div>
                <button type="submit" class="editButton">Edit Course</button>
            </div>
        </div>
        <div>

        </div>
    </div>
    <h4 style="text-align:center" id="delText">
        Delete Course
    </h4>
    <div class="container">
        <select id="delCourse" name="delCourse">
            <option value="course">Please select a course...</option>
        </select>
    <div class="container">
        <button type="submit" class="delButton">Delete Course</button>
    </div>
</div>