
<h2 style="text-align:center" id="listTitle">
  Course List
</h2>
<button type="submit" class="addButton" (click)="editCourse()">Add Course</button>
<div style="clear:both"></div>

<table style="margin: 0 auto;" class="courseInfo">
  <tr>
    <th>Course Name</th>
    <th>Course Address</th>
    <th>Phone Number</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let course of courses">
    <td id="courseName">{{course.course_name}}</td>
    <td id="address">{{course.address}}</td>
    <td id="phone">{{course.phone}}</td>
    <td><mat-icon aria-hidden="false" aria-label="Edit" (click)="editCourse(course.course_id)" style="cursor: pointer">create</mat-icon> <mat-icon aria-hidden="false" aria-label="Delete" (click)="deleteCourse(course.course_id)" style="cursor: pointer">delete</mat-icon></td>
  </tr>
</table>
<app-add-edit-course *ngIf="showEditor" [id]="selectedCourse" (close)="closeModal($event)"></app-add-edit-course>
