.map-container
  height: 500px

.map-frame
  border: 1px solid black
  height: 100%

#map
  height: 100%

th, td
  padding: 5px 5px !important
  background: #fff

td
  width: 50px
th
  position: sticky
  left: 0px
  z-index: 1
