<div class="admodal">
    <h4 style="text-align:center" id="addText">{{title}}</h4>
    <form [formGroup]="editRole" class="form-horizontal">
        <div id=name>
            <h5>{{user.last_name}}, {{user.first_name}}</h5>
        </div>
        <div>
            &lt;Course Name&gt;
            <select name="role-type">
                <option value="1">Admin</option>
                <option value="2">Staff</option>
            </select>
        </div>
        <div>
            <label for="courses">Choose a course:</label>
            <select name="courses" id="courses">
                <label class="col-sm-2 control-label">Select a Course:</label>
                <option>Select</option>
                <option *ngFor="let course of courses"  value="{{course.course_id}}">{{course.course_name}}</option>
            </select>
        </div>
      <button type="button" (click)="ok()">OK</button>
      <button type="button" (click)="cancel()">Cancel</button>
      <br>
      <button type="button" (click)="cancel()">Delete</button>
    </form>
  </div>
  <div class="admodal-overlay" id="admodal-overlay">
  </div>
  
