<div style="float: right">{{time}}</div>
<mat-tab-group style="clear: both"  [selectedIndex]="selectedIndex">
  <mat-tab class="navNumbers" *ngFor="let hole of course.holes; let h = index;" label="#{{hole.hole_number}}">
    <img src="/assets/courseImages/{{game.course_id}}_{{hole.hole_number}}.png" alt="Hole Layout" class="holeMap"/>
    <h3 id="holeNum">Hole #{{hole.hole_number}}</h3>
    <p id="holeInfo">Par: {{hole.mens_par}}<ng-template *ngIf="hole.womens_par !== hole.mens_par">({{hole.womens_par}})</ng-template> • {{hole.tees[0].distance_to_pin}} Yards</p>
    <p id="holeInfo">Men's Handicap: {{hole.mens_handicap}} • Ladies' Handicap: {{hole.womens_handicap}}</p>

    <br /><b>Tees:</b><br />
    <table class="teeTable">
     <tr *ngFor="let tee of hole.tees">
       <td class="data">{{tee.tee_name}}:</td>
       <td class="data">{{tee.distance_to_pin}}</td></tr>
    </table>
    <br style="clear: both" />
    <div class="hole-hints">
    <p class="hole-hint-num">Hole #{{hole.hole_number}} Tips: </p>
    <p>{{hole.hint}}</p>
  </div>
    <form [formGroup]="scoreForms[h]" (ngSubmit)="addScore(h)">
      <table id="scorecard">
        <tr>
          <th>Player</th>
          <th>Strokes</th>
        </tr>
        <ng-container formArrayName="scores">
          <tr *ngFor="let score of scoreForms[h].get('scores')['controls']; let i = index" [formGroupName]="i">
            <td><label>{{players[i].first_name}}</label></td>
            <td><input type="number" placeholder="Strokes" min="1" formControlName="strokes"/></td>
          </tr>
        </ng-container>
      </table>
      <br />
      <br />
      <div class="btn-toolbar">
        <button type="submit" class="btn btn-primary">Finish Hole</button>
        &nbsp;
        <button type="button" class="btn btn-primary" (click)="serviceRequest()" >Request Service</button>
        &nbsp;
        <button type="button" class="btn btn-danger" (click)="endGame()">End Game</button>
      </div>
    </form>
  </mat-tab>
</mat-tab-group>
