<br>
<article class="front9">
    <div class="hole">
        <span>Front</span>
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span>6</span>
        <span>7</span>
        <span>8</span>
        <span>9</span>
        <span>Out</span>
    </div>
    <div class="par">
        <span>Par</span>
        <span>3</span>
        <span>5</span>
        <span>4</span>
        <span>4</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span>4</span>
        <span>4</span>
        <span>0</span>
    </div>
    <div class="score">
        <span>Score</span>
        <span class="form-group col-md-2">
          <input type="text" class="form-control" id="front1">
        </span>
        <span class="form-group col-md-2">
        <input type="text" class="form-control" id="front2">
        </span>
        <span class="form-group col-md-2">
      <input type="text" class="form-control" id="front3">
  </span>
        <span class="form-group col-md-2">
    <input type="text" class="form-control" id="front4">
</span>
        <span class="form-group col-md-2">
  <input type="text" class="form-control" id="front5">
</span>
        <span class="form-group col-md-2">
  <input type="text" class="form-control" id="front6">
</span>
        <span class="form-group col-md-2">
  <input type="text" class="form-control" id="front7">
</span>
        <span class="form-group col-md-2">
  <input type="text" class="form-control" id="front8">
</span>
        <span class="form-group col-md-2">
  <input type="text" class="form-control" id="front9">
</span>
        <span class="sub">0</span>
    </div>
</article>
<article class="back9">
    <div class="hole">
        <span>Back</span>
        <span>10</span>
        <span>11</span>
        <span>12</span>
        <span>13</span>
        <span>14</span>
        <span>15</span>
        <span>16</span>
        <span>17</span>
        <span>18</span>
        <span>In</span>
        <span>Total</span>
    </div>
    <div class="par">
        <span>Par</span>
        <span>5</span>
        <span>3</span>
        <span>4</span>
        <span>3</span>
        <span>5</span>
        <span>4</span>
        <span>4</span>
        <span>3</span>
        <span>5</span>
        <span>0</span>
        <span>0</span>
    </div>
    <div class="score">
        <span>Score</span>
        <span class="form-group col-md-2">
            <input type="text" class="form-control" id="back1">
        </span>
        <span class="form-group col-md-2">
          <input type="text" class="form-control" id="back2">
      </span>
        <span class="form-group col-md-2">
        <input type="text" class="form-control" id="back3">
    </span>
        <span class="form-group col-md-2">
      <input type="text" class="form-control" id="back4">
  </span>
        <span class="form-group col-md-2">
    <input type="text" class="form-control" id="back5">
</span>
        <span class="form-group col-md-2">
  <input type="text" class="form-control" id="back6">
</span>
        <span class="form-group col-md-2">
  <input type="text" class="form-control" id="back7">
</span>
        <span class="form-group col-md-2">
  <input type="text" class="form-control" id="back8">
</span>
        <span class="form-group col-md-2">
  <input type="text" class="form-control" id="back9">
</span>
        <span class="sub">0</span>
        <span class="total">0</span>
    </div>
</article>