<h2 style="text-align:center" id="header">
    Users
</h2>

<table align="center" class="userInfo">
    <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Roles</th>

    </tr>
    <tr *ngFor="let user of users">
        <td id="lName">{{user.last_name}}</td>
        <td id="fName">{{user.first_name}}</td>
        <td id="email">{{user.email}}</td>
        <td id="phone">{{user.phone}}</td>
        <td id="role"><button (click)="editRole(user.user_id)" style="cursor: pointer">View Roles</button></td>

    </tr>
</table>
<app-edit-user-roles *ngIf="showEditor" [id]="selectedUser" (close)="closeModal($event)"></app-edit-user-roles>
