IndexIgnore *

# If directory doesn't exist, redirect user ot error page
ErrorDocument 404 /GPTMS/api/error-management/404.php
RewriteCond %{REQUEST_URI} ^/404/$
RewriteRule ^(.*)$ /GPTMS/api/error-management/404.php [L]
